---
title: bowad.net
description: The personal website of Benjamin Owad.
layout: layouts/base-nav.njk
---
<div class="container mx-auto max-w-3xl">
    <h1 class="font-display font-semibold text-4xl pt-16 pb-8">Benjamin Owad</h1>
    <p>
      <a href="https://interversehq.com/welcomething/">Hi there!</a> I am a computer science enthusiast, currently working in the SF Bay Area. I previously studied CS at <span title="My favorite classroom is GHC 6115, and it *is* a classroom!" class="inline">Carnegie Mellon University</span>, with a systems concentration.
    </p>
    <br>
    <p>
      My areas of interest include <span title="Databases.">databases</span>, open-source software, vintage hardware, and niche operating systems, but I am always trying to learn more about everything!
    </p>

    <h1 class="font-display font-semibold text-2xl pt-8 pb-2">Projects</h1>
    <ul class="list-inside">
      <li><h3 class="font-semibold inline-block">qView</h3> | A fast and minimal cross-platform image viewer
      <p class="indent-6"><a href="https://interversehq.com/qview/" class="link">Website</a>, <a href="https://github.com/jurplel/qView" class="link">Github</a></p>
      </li>
      <li><h3 class="font-semibold inline-block">install-qt-action</h3> | Github Action to automate installing Qt
      <p class="indent-6"><a href="https://github.com/jurplel/install-qt-action" class="link">Github</a></p>
      </li>
      <li><h3 class="font-semibold inline-block">optd</h3> | Cascades-based database query optimizer
        <p class="indent-6"><a href="https://github.com/cmu-db/optd" class="link">Github</a> <a href="https://github.com/cmu-db/optd-original" class="link">(original repo)</a></p>
      </li>
      <li><h3 class="font-semibold inline-block">Synchro</h3> | Network synchronized video player with Rust backend
      <p class="indent-6"><a href="https://github.com/jurplel/synchro" class="link">Github</a><a href="https://github.com/jurplel/libsynchro" class="link">(s)</a></p>
      </li>
      <li><h3 class="font-semibold inline-block">fps112</h3> | FPS game with custom 3D graphics engine and online multiplayer
      <p class="indent-6"><a href="https://github.com/jurplel/15-112/tree/main/tp" class="link">Github</a></p>
      </li>
    </ul>

    <h1 class="font-display font-semibold text-2xl pt-8 pb-2">Teaching</h1>
    <ul class="list-inside">
      <li><a href="https://rust-stuco.github.io/" class="link">Intro to Rust Lang Instructor (Fall 2024)</a></li>
      <li><a href="https://rust-stuco.github.io/old/s24/" class="link">Intro to Rust Lang Instructor (Spring 2024)</a></li>
      <li><a href="https://www.cs.cmu.edu/afs/cs/academic/class/15213-f23/www/" class="link">15-213 Teaching Assistant (Fall 2023)</a></li>
      <li><a href="https://www.cs.cmu.edu/afs/cs/academic/class/15213-m23/www/" class="link">15-213 Teaching Assistant (Summer 2023)</a></li>
      <li><a href="https://www.cs.cmu.edu/afs/cs/academic/class/15213-s23/www/" class="link">15-213 Teaching Assistant (Spring 2023)</a></li>
      <li><a href="http://www.cs.cmu.edu/~112-f22/" class="link">15-112 Teaching Assistant (Fall 2022)</a></li>
      <li><a href="https://www.kosbie.net/cmu/spring-22/15-112/" class="link">15-112 Teaching Assistant (Spring 2022)</a></li>
      <li><a href="https://www.kosbie.net/cmu/fall-21/15-112/" class="link">15-112 Teaching Assistant (Fall 2021)</a></li>
    <ul>
    <h1 class="font-display font-semibold text-2xl pt-8 pb-2">Elsewhere</h1>
    <ul class="list-inside">
    <li><a class="link" href="https://interversehq.com/">Interverse</a></li>
    <li><a class="link" href="https://github.com/jurplel">GitHub</a></li>
    <li><a class="link" href="https://discuss.systems/@bowad">Mastodon</a></li>
    <li><a class="link" href="https://interversehq.com/discord/">Discord</a></li>
    <li><a class="link" href="https://www.linkedin.com/in/bowad/">LinkedIn</a></li>
    <li><a class="link" href="mailto:bowad@bowad.net">Email</a></li>
    </ul>
</div>
