---
title: bowad.net
description: The personal website of Benjamin Owad.
layout: layouts/base-nav.njk
---
<div class="container mx-auto max-w-3xl">
    <h1 class="font-display font-semibold text-4xl pt-16 pb-8">Benjamin Owad</h1>
    <p>
      Hi there! I am a third-year undergraduate student studying Computer Science at Carnegie Mellon University, concentrating in Systems.
    </p>
    <br>
    <p>
      My areas of interest include open-source software, databases, vintage hardware, and niche operating systems.
    </p>
    <h1 class="font-display font-semibold text-3xl pt-16 pb-4">Cool links</h1>
    <h3><a class="font-display text-xl link" href="https://interversehq.com/">Interverse (Project Website)</a></h3>
    <h3><a class="font-display text-xl link" href="https://github.com/jurplel">GitHub</a></h3>
    <h3><a class="font-display text-xl link" href="https://www.linkedin.com/in/bowad/">LinkedIn</a></h3>
    <h3><a class="font-display text-xl link" href="https://discuss.systems/@bowad">Mastodon</a></h3>
    <h3><a class="font-display text-xl link" href="https://interversehq.com/discord/">Discord</a></h3>
    <h3><a class="font-display text-xl link" href="mailto:bowad@bowad.net">Email</a></h3>

</div>