---
layout: layouts/base.njk
---
{% include "../components/nav.njk" %}
<main class="w-full h-full max-lg:px-6">
    {{ content | safe }}
</main>
{% include "../components/footer.njk" %}

<script src="/assets/js/navbar.js" type="module"></script>